@tailwind base;
@tailwind components;
@tailwind utilities;

.sandwichCard {
  width: 250px;
  font-size: 12px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
}

.sandwiches {
  background-image: url("https://wallpaper.dog/large/20486622.jpg");
}

.signInPage {
  background-image: url("https://wallpaper.dog/large/20486622.jpg");
}

.formPage {
  background-image: url("https://wallpaper.dog/large/20486622.jpg");
}

.mapPage {
  background-image: url("https://wallpaper.dog/large/20486622.jpg");
}

.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
  margin: 20px;
  max-width: 100%;
  display: inline-block;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

.card img {
  height: 350px;
  width: auto;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}